

/* css reset from http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

body {
    background-color: #A8AAB1;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}
div {
    margin: 0em 0em 1em 0em;
}

p, li {
    line-height: 1.3;
}

li {
    padding: 0.2em;
}

ol {
    list-style: decimal inside;
}

h1 {
    font-size: 2em;
    padding: 0.125em 0.25em 0.313em;
}

h2 {
    font-size: 1.5em;
    padding: 0.125em 0.25em 0.25em;
}

h3 {
    font-size: 1.25em;
    padding-bottom: 0.06em;
    padding-top: 0.5em;
}

h4 {
    font-size: 1.0em;
}

p {
    padding: 0.313em 0.188em;
}


#container {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    width: 980px;
}

#header {
    background-color: #A0B2F1;
    margin: 0;
    position: relative;
    overflow: auto;
}
#logo {
    float:left;
}


#logo h1 {
	padding:0;
}

/*
#logo h1 a, #logo h1 a:hover {
	background:url(img/tt.png) 0 0 no-repeat;
	width:447px;
	height:70px;
	text-indent:-9000px;
	display:block;
	text-decoration:none;
}
    */

#accounts {
    bottom: 0;
    left: 645px;
    position: absolute;
}

#titlebar {
    background-color: #2246CA;
    color: white;
    font-family: Tahoma, Geneva, Sans-serif;
    margin: 0;
    overflow: auto;
    position: relative;
}

#titlebar h1 {
    padding: 0.225em 0.25em 0.413em;
}

#pagetitle {
    float:left;
    margin: 0;
}

#navigation {
    font-size: 90%;
    left: 638px;
    margin: 0;
    position: absolute;
}

#messages {
    margin: 0;
}

#content {
    background-color: #B6C6FF;
    margin: 0;
    overflow: auto;
}

#main {
    background-color: #FFFFFF;
    float: left;
    margin: 0;
    min-height: 612px;
    padding: 5px;
    width: 635px;
}

#sidebar {
    float: left;
    padding: 5px;
    width: 325px;
}

#footer {
    background-color: #A0B2F1;
    margin: 0;
}
