{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Dashboard
{% endblock title %}

{% block pagetitle %}
<h1>Dashboard</h1>
{% endblock pagetitle %}

{% block main %}
    <h2>Daily Productivity</h1>
    <div id="graph">
    </div>
{% endblock main %}

{% block sidebar %}
<h2>Inbox Items</h2> 
<ul>
    {% for item in active_inbox_items %}
    <li>{{ item }} <form action="{% url inbox_item_done item.id %}" method="POST"><input type="submit" value="Done" /></form></li>
    {% endfor %}
</ul>
</form>
{% endblock sidebar %}

{% block scripts %}
{% endblock scripts %}
